*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav li {
    list-style: none;
    margin: 0 15px;
}
.container.hero-section {
    background-image: url("assets/image/home.png") !important ;
    background-repeat: no-repeat;
}